<?xml version="1.0"?>

<launch>
    <arg name="world_name"/>
    <arg name="tfprefix"                default=""/>

    <arg name="navgoal_topic"           default="move_base_simple/goal"/>
    <arg name="trajectory_topic"        default="trajectory"/>
    <arg name="navigate_action"         default="navigate"/>
    <arg name="plan_path_action"        default="plan_global_path"/>
    
    <node pkg="dd241909_path" type="navgoal.py" name="navgoal">
        <param name="tfprefix"              value="$(arg tfprefix)"/>
        <param name="navgoal_topic"         value="$(arg navgoal_topic)"/>
    </node>

    <node pkg="dd241909_path" type="trajectory_follower.py" name="trajectory_follower" output="screen">
        <param name="tfprefix"              value="$(arg tfprefix)"/>
        <param name="navgoal_topic"         value="$(arg navgoal_topic)"/>
        <param name="trajectory_topic"      value="$(arg trajectory_topic)"/>
        <param name="navigate_action"       value="$(arg navigate_action)"/>
    </node>

    <node pkg="dd241909_path" type="global_planner.py" name="global_planner" output="screen">
        <param name="map_file"  value="$(find dd241909_launch)/worlds/maps/$(arg world_name).world.json"/>
        <param name="collision_radius"      value="0.1"/>
        <param name="tfprefix"              value="$(arg tfprefix)"/>
        <param name="trajectory_topic"      value="$(arg trajectory_topic)"/>
        <param name="plan_path_action"      value="$(arg plan_path_action)"/>
    </node>
</launch>